<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p class="container">
  <a class="other-button button">Primary</a>
</p>

<p class="container">
  <a class="other-button secondary">Secondary</a>
</p>

<p class="container">
  <a class="other-button success">Success</a>
</p>

<p class="container">
  <a class="other-button scary-button">Danger</a>
</p>

<p class="container">
  <a class="other-button warning">Warning</a>
</p>

<p class="container">
  <a class="other-button info">Info</a>
</p>


<p>Less intrusive variants:</p>

<p class="container">
  <a class="other-button unobtrusive primary-variant">Primary (unobtrusive)</a>
</p>

<p class="container">
  <a class="other-button unobtrusive secondary-variant">Secondary (unobtrusive)</a>
</p>

<p class="container">
  <a class="other-button unobtrusive success-variant">Success (unobtrusive)</a>
</p>

<p class="container">
  <a class="other-button unobtrusive danger-variant">Danger (unobtrusive)</a>
</p>

<p class="container">
  <a class="other-button unobtrusive warning-variant">Warning (unobtrusive)</a>
</p>

<p class="container">
  <a class="other-button unobtrusive info-variant">Info (unobtrusive)</a>
</p>
